<div class="container-fluid">
	<div class="reload-widget"  style="display:none">
		<p class="reloads">{{reloads}}</p>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="clock-widget">
				<p class="clock">{{ clock | date:'HH:mm:ss'}}</p>
			</div>
		</div>
		<div class="col-md-6 weather-widget-col">
			<div class="weather-widget">
				<div class="col-md-12 clearfix" ng-repeat="weather in weathers" >
					<div class="weather-from-time" ng-class="{'not-first': $index != 0}">
						{{weather.fromDateTimeString}}
					</div>

					<div class="weather-wrapper clearfix" ng-class="{'not-last': $index != weathers.length - 1}">
						<img ng-src="img/weather/{{weather.symbol.number}}.png" class="weather-icon">
						<div class="weather-data">
							<div class="weather-temperature">{{weather.temperature}}°</div>
							<div class="weather-precipitation">{{weather.precipitation.value}} mm</div>
						</div>
					</div>

					<div class="weather-to-time" ng-show="$index == weathers.length - 1">
						{{weather.toDateTimeString}}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">
			<div class="now-playing-widget clearfix">
				<div>
					<span class="glyphicon glyphicon-music"></span>
					<span class="song-title">{{nowPlaying.title}}</span><br>
					<span class="album-title">{{nowPlaying.album}}</span><br>
					<span class="artist-name">{{nowPlaying.artist}}</span>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">
			<div class="tasks-widget clearfix">
				<div>
					<span class="glyphicon glyphicon-ok"></span>
					<span class="tasks-header">Att Göra</span><br>
					<div ng-repeat="task in tasks" >
						<span class="task-name">{{task.name}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row" style="display:none">
		<div class="col-md-6">
			<p>Temperatur: {{temperature}}°C</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="messages-widget" ng-show="mirrorMessage">
				&nbsp;{{mirrorMessage}}&nbsp;
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="transports-widget">
				<table>
					<tr>
						<td colspan="2">
							Västtrafik
							<hr>
						</td>
					</tr>
					<tr ng-repeat="(index, transport) in transports" ng-class="{hurry: transport.hurryStatus=='RUN'}">
						<td class="name">
							{{transport.name}}
						</td>
						<td class="time">
							<span ng-repeat="(index, VTTimeLeft) in transport.timeLeftList" ng-if="VTTimeLeft.timeLeft > 0" class="time-left">
								<span class="time-left-amount">{{VTTimeLeft.timeLeft}}</span> min
							</span>
						</td>
					</tr>
					<tr ng-show="!transports.length">
						<td class="name">
							Laddar...
						</td>
						<td class="time">
							&nbsp;
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

</div>