body.smartmirror-body {
  padding: 21px;
  background-color: black;
  color: #ffffff;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: lighter;
}
.top-empty-space {
  height: 400px;
}
.clock-widget {
  position: relative;
  top: 10px;
  left: 10px;
}
.clock-widget .clock {
  font-size: 128px;
}
.reload-widget {
  position: absolute;
  right: 20px;
  top: 20px;
  text-align: right;
}
.transports-widget {
  position: fixed;
  bottom: 0px;
  left: 10px;
  font-size: 40px;
}
.transports-widget table td.name {
  text-align: left;
  min-width: 500px;
}
.transports-widget table td.time {
  text-align: left;
}
.transports-widget table td.time .time-left {
  display: inline-block;
  min-width: 165px;
  text-align: left;
}
.transports-widget table td.time .time-left .time-left-amount {
  display: inline-block;
  text-align: right;
  min-width: 50px;
}
.messages-widget {
  font-size: 40px;
  border-top: 1px solid #fff;
  position: relative;
  top: 375px;
  border-bottom: 1px solid #ffffff;
  padding: 20px;
  text-align: center;
}
.weather-widget-col {
  overflow: visible;
  height: 170px;
}
.weather-widget {
  margin-top: 50px;
  margin-right: -5px;
}
.weather-widget .weather-from-time {
  font-size: 1.25em;
  text-align: right;
}
.weather-widget .weather-to-time {
  font-size: 1.25em;
  text-align: right;
  clear: both;
}
.weather-widget .weather-wrapper {
  float: right;
  padding-right: 0px;
}
.weather-widget .weather-wrapper .weather-icon {
  width: 150px;
  float: left;
}
.weather-widget .weather-wrapper .weather-data {
  float: left;
  width: 100px;
}
.weather-widget .weather-wrapper .weather-data .weather-temperature {
  font-size: 4em;
  text-align: left;
}
.weather-widget .weather-wrapper .weather-data .weather-precipitation {
  font-size: 1.5em;
  padding-left: 10px;
}
.now-playing-widget {
  min-height: 110px;
}
.now-playing-widget .glyphicon {
  font-size: 7em;
  float: left;
  margin-right: 20px;
}
.now-playing-widget .song-title {
  font-size: 2em;
  line-height: 1.2em;
}
.now-playing-widget .album-title {
  font-size: 1.4em;
  line-height: 1.6em;
}
.now-playing-widget .artist-name {
  font-size: 1.6em;
  line-height: 1.6em;
}
.tasks-widget {
  margin-top: 60px;
  min-height: 110px;
}
.tasks-widget .glyphicon {
  font-size: 2em;
  float: left;
  margin-right: 20px;
}
.tasks-widget .tasks-header {
  font-size: 3em;
  margin-left: 50px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: lighter;
  line-height: 1.2em;
}
.tasks-widget .task-name {
  font-size: 1.6em;
  line-height: 1.6em;
}
