

body.smartmirror-body {
  background-color:black;
  color: #ffffff;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}
.top-empty-space {
  height: 400px;
}
.clock-widget {
  position: relative;
  top: 10px;
  left: 10px;

  .clock {
      font-size: 128px;
  }
}

.reload-widget {
  position: absolute;
  right: 20px;
  top: 20px;
  text-align: right;
}

.transports-widget {
    position: fixed;
    bottom: 0px;
    left: 10px;

    font-size: 40px;

  table {
    td.name {
      text-align:left;
      min-width:500px;
    }
    td.time {
      text-align:right;
    }
  }
}

.messages-widget {
  font-size: 40px;
}

.weather-widget {
  .weather-from-time {
    font-size:1.25em;
    margin-left: -20px;
    &.not-first {
      margin-left: -54px;
    }
  }
  .weather-to-time {
    font-size:1.25em;
    text-align: right;
    margin-top: -26px;
  }
  .weather-wrapper {
    &.not-last {
       border-right: 1px solid #fff;
    }
    .weather-icon {
      width: 150px;
      float:left;
    }
    .weather-data {
      float:left;
      .weather-temperature {
        font-size:4em;
        text-align:left;
      }
      .weather-precipitation {
         font-size:1.5em;
         padding-left: 10px;
      }
    }

  }
}
